@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

/* Page Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
}

/* Class Styles */
.MasterContainer {
  display: flex;
  background-color: hsl(185, 75%, 39%);
  justify-content: center;
}

.upperArc {
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
  position: fixed;
  height: 50%;
  width: 50%;
  background-color: hsl(180, 60%, 50%);
  z-index: 1;
}

.lowerArc {
  bottom: 0;
  right: 0;
  border-top-left-radius: 100%;
  position: fixed;
  height: 50%;
  width: 50%;
  background-color: hsl(180, 60%, 50%);
  z-index: 1;

}

.MainDataBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 10px;
  height: 100vh;
  justify-content: center;
  border-top-left-radius: 50%;
  position: relative;
  z-index: 1
}

.swirl {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 30%;
}

.PersonalData {
  display: flex;
  flex-direction: row;
  border-bottom: lightgrey solid 1px;
  background-color: white;
  height: 30%;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.profilePic {
  border: white solid 5px;
  position: absolute;
  border-radius: 50% 50%;
  top: 35%;
}

#name {
  font-size: 18px;
}

#age {
  padding-left: 15px;
  align-self: center;

}

#age,
#city {
  color: hsl(0, 0%, 59%);
}

#city {
  margin-top: 0;
  width: 100%;
  justify: center;
  height: 35%;
  font-family: Kumbh Sans;
}

.nameAge {
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 55px;
}

.stats {
  display: flex;
  background-color: white;
  height: 15%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  text-align: center;
  font-family: Kumbh Sans:wght;
}

.stats p {
  color: hsl(0, 0%, 59%);
  margin-top: 0;
  font-family: Kumbh Sans;
}
