
/* Page Styles */
* {
  box-sizing: border-box;
}

/* Class Styles */
.MasterContainer {
  display: flex;
  background-color: blue;
  justify-content: center;
}

.MainDataBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 10px;
  height: 100vh;
  justify-content: center;
  border-top-left-radius: 50%;
  position: relative;
}

.swirl {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 30%;
}

.PersonalData {
  display: flex;
  flex-direction: row;
  border-bottom: lightgrey solid 1px;
  background-color: white;
  height: 30%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.profilePic {
  border: white solid 5px;
  position: absolute;
  border-radius: 50% 50%;
  top: 35%;
}

#name {
  font-size: 18px;
}

#age {
  padding-left: 15px;
  align-self: center;

}

#age,
#city {
  color: hsl(0, 0%, 59%);
}

#city {
  margin-top: 0;
  width: 100%;
  justify: center;
}

.nameAge {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 55px;
}

.stats {
  display: flex;
  background-color: white;
  height: 15%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.stats p {
  color: hsl(0, 0%, 59%);
  margin-top: 0;
}
